include LICENSE.txt
include MANIFEST.in

include *.md

recursive-include notebooks *.ipynb
recursive-include notebooks *.py
recursive-include pycomlink/io/example_data *
recursive-include pycomlink/tests/test_data *

recursive-include pycomlink/processing/wet_dry/cnn_model_files *

recursive-exclude notebooks __init__.py
recursive-exclude notebooks *.pyc

prune notebooks/.ipynb_checkpoints
prune notebooks/death_row
prune pycomlink/death_row